.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
}
.filtersContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}