*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #F85555;
  --light-gray: #DCD9D9;
  --gray: #C7C7C7;
  --dark-gray: #4F4F4F;
  --text-gray: #ABABAB;
}
body.dark {
  background-color: black;
  color: white;
}
img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
button {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-family: inherit;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  flex: 1 1;
}